/*      GLOBAL STYLES        */


a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  overflow-x: hidden;
}

/* * {
    border-width:0.5px;
    border:solid red;
 } */

body {
  width: inherit;
  margin: 0;
}

h1 {
  color: white;
}

.hero .about {
  position: relative;
}

/*           MOBILE FIRST            */

/* HERO SECTION  */

@media (max-width: 500px) {
  .hero {
    position: relative;
    z-index: -100;
    background-color: white;
  }

  .for-skew {
    width: 100vw;
    height: 75vh;
    background: white;
    transform: skew(0deg, -40deg) translateY(18.5rem);
  }

  .hero-background {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    padding: 30px 0;
    top: 0;
    width: 100vw;
    height: 80vh;
    z-index: -1;
    background: #054d55;
  }

  .hero-image {
    position: relative;
    z-index: 1;
    width: 80vw;
    margin: 5% auto 0;
    min-height: 32rem;
    background-image: url("/images/cat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 1px 1px 10px 0.5px;
  }

  .hero-name {
    right: auto;
    position: relative;
    font-size: 4.2rem;
    top: 3rem;
    line-height: 1.15;
    margin-left: 0.7rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  /* END OF HERO SECTION */

  /* ABOUT SECTION */

  .about {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }

  .about-title {
    position: relative;
    margin:auto;
    color: black;
    font-size: 3.6rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .about-content {
    position: relative;
    margin: auto;
    color: black;
    font-size: 1.6rem;
    padding: 1rem 1.5rem 0.7rem 2.5rem;
    line-height: 2.2rem;

    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .social-button-list {
    display: flex;
    flex-direction: row;
  }
  .social-button {
    padding: 0 1rem;
  }
  i {
    font-size: 2rem;
    font-style:normal;
  }

/* END OF ABOUT SECTION  */


/* WORK SECTION  */


.work {
  z-index: -100;
  position: relative;
  display:flex;
  margin-top:6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.work-title {
  position: relative;
  margin: auto;
  color: black;
  font-size: 3.6rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.work-project {
  box-shadow: 1px 1px 8px 2px;
  display: flex;
  flex-direction: column;
  margin-top:2rem;
  top: 0;
  width: 85vw;
  height: 60vh;
  justify-content: top;
  align-items: top;
  background-color:white;
 
}

.work-project-header{
  width:100vw;
  height:65%;
  background-color:rgb(99, 60, 144);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
.work-project-title {
  color:white;
  margin:auto;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
 padding:0 2rem 0 2rem;

}

.project-footer {
  display: flex;
  flex-direction: column;


}

.project-details {

  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  margin: 1rem 0 0.5rem 0;
}

.project-name {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size:1.5rem;
  margin:0 0 0 1.8rem;

}
.social-buttons1 {
  margin-right:1.1rem;
}

.project-description {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   font-size:1.4rem;
   padding:0 1rem 0 1rem; 
}

#project2 {
  background:rgb(26, 146, 84);
}
#project3 {
  background:rgb(100, 157, 47);
}


}
